<ion-content class="ion-content">
  <div id="splash-screen">
    <img
      src="../../assets/logo.svg"
      class="img-fluid logo"
      alt="logo of the restaurant"
    />
    <div class="">
      <div class="container">
        <div class="row middle-section">
          <div class="col-4">
            <img
              src="../../assets//order_activated.svg"
              class="img-fluid cooking-food"
              alt="cooking item"
            />
          </div>
          <div class="col-8">
            <div class="welcome-greet">welcome XYZ</div>
            <div class="sub-heading">Our restaurant partner</div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-accepting-heading" routerLink="/login">
      start accepting order
    </div>
  </div>
</ion-content>
