<ion-content>
  <div id="menu">
    <div class="container">
      <!-- Header Section Start -->
      <div class="row">
        <div class="col-3 p-3">
          <img
            src="../../../assets/logo.svg"
            class="img-fluid restro-logo"
            alt=" restaurant logo"
            routerLink="/home"
          />
        </div>
        <div class="col-6 p-3">
          <div class="restro-name">Restaurant Name</div>
          <div class="restro-address">Full Address</div>
        </div>
        <div class="col-3 p-3">
          <img
            src="../../../assets/online.svg"
            class="img-fluid restro-logo"
            alt=" restaurant logo"
          />
        </div>
      </div>
      <!-- Header Section End -->

      <!-- Banner Section Start -->
      <div class="row">
        <div class="col-12">
          <div class="account-banner"></div>
        </div>
      </div>
      <!-- Banner Section End -->

      <!-- Functions List Start -->
      <div class="mid-section-list">
        <ul>
          <li>
            <img
              src="../../../assets/schedule.svg"
              class="img-fluid icon"
              alt=""
            />Schedule off time in advance
          </li>
          <li>
            <img
              src="../../../assets/support.svg"
              class="img-fluid icon"
              alt=""
            />Support
          </li>
          <li class="log-out">
            <img
              src="../../../assets/log_out.svg"
              class="img-fluid icon"
              alt=""
            />Log Out
          </li>
        </ul>
      </div>
      <!-- Functions List End -->
    </div>
  </div>

  <!-- Navbar Start -->
  <div class="navbar">
    <ul>
      <li routerLink="/home">
        <div class="icon">
          <img
            src="../../../assets/menu.svg"
            class="img-fluid"
            alt="menu icon"
          />
        </div>
        <div class="name">menu</div>
      </li>
      <li routerLink="/home/orders">
        <div class="icon">
          <img
            src="../../../assets/order.svg"
            class="img-fluid"
            alt="orders icon"
          />
        </div>
        <div class="name">orders</div>
      </li>
      <li routerLink="/home/account">
        <div class="icon">
          <img
            src="../../../assets/account.svg"
            class="img-fluid"
            alt="account icon"
          />
        </div>
        <div class="name">account</div>
      </li>
      <li routerLink="/home/history">
        <div class="icon">
          <img
            src="../../../assets/history.svg"
            class="img-fluid"
            alt="history icon"
          />
        </div>
        <div class="name">history</div>
      </li>
    </ul>
  </div>
  <!-- Navbar Start End -->
</ion-content>
