<ion-content>
  <div id="menu">
    <div class="container">
      <!-- Header Section Start -->
      <div class="row">
        <div class="col-3 p-3">
          <img
            src="../../../assets/logo.svg"
            class="img-fluid restro-logo"
            alt=" restaurant logo"
            routerLink="/home"
          />
        </div>
        <div class="col-6 p-3">
          <div class="restro-name">Restaurant Name</div>
          <div class="restro-address">Full Address</div>
        </div>
        <div class="col-3 p-3">
          <img
            src="../../../assets/online.svg"
            class="img-fluid restro-logo"
            alt=" restaurant logo"
          />
        </div>
      </div>
      <!-- Header Section End -->

      <!-- Customize Section Start -->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10 customize-section">
          <div class="customize-section-left">
            <form>
              <div class="search-box">
                <select class="form-select form-select-sm">
                  <option selected>Sort by</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </form>
          </div>
          <div class="customize-section-right">
            <form>
              <div class="search-box">
                <input type="search" placeholder="search" />
                <div class="search-icon">
                  <img
                    src="../../../assets/search.svg"
                    class="img-fluid"
                    alt="search icon"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Customize Section End -->

      <!-- History Card Start -->
      <!-- FIrst Card -->
      <div class="history-card">
        <div class="header-section">
          <div class="row">
            <div class="col-8">
              <div class="id">ID : 000000 <span>0000</span></div>
              <div class="state">
                <div class="delivered">delivered</div>
                <div class="cust-name">customer name</div>
              </div>
            </div>
            <div class="col-4">
              <div class="date">date & time</div>
            </div>
          </div>
        </div>
        <div class="card-flip-section">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <div class="food-item">1 X Food Item</div>
              <img
                src="../../../assets/arrow.svg"
                class="arrow img-fluid"
                alt="up down arrow toggler"
              />
            </div>
          </div>
        </div>
        <div class="card-desc-section">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <div class="desc">Quantity of item</div>
              <div class="price">₹ 000</div>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <div class="desc">Amount to be collected from rider</div>
              <div class="price">₹ 000</div>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <div class="desc">Restaurant promo</div>
              <div class="price">₹ 000</div>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <div class="desc">Taxes</div>
              <div class="price">₹ 000</div>
            </div>
            <div class="col-12 d-flex justify-content-between">
              <div class="desc-bill">Total Bill</div>
              <div class="price-bill">₹ 000</div>
            </div>
          </div>
        </div>
        <div class="delievry-section">
          <div class="row">
            <div class="col-12">
              <div class="delievry-partner">
                <img
                  src="../../../assets/delivery_partner.svg"
                  class="img-fluid"
                  alt="delivery partner icon"
                />
                delivery partner
              </div>
            </div>
            <div class="col-12">
              <div class="partner-detail">
                <div class="img"></div>
                <div class="details">
                  <div class="name">name</div>
                  <div class="number">+91-00000 00000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Card -->
      <div class="history-card">
        <div class="header-section">
          <div class="row">
            <div class="col-8">
              <div class="id">ID : 000000 <span>0000</span></div>
              <div class="state">
                <div class="delivered">delivered</div>
                <div class="cust-name">customer name</div>
              </div>
            </div>
            <div class="col-4">
              <div class="date">date & time</div>
            </div>
          </div>
        </div>
        <div class="card-flip-section" style="border: 0;">
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <div class="food-item">1 X Food Item</div>
              <img
                src="../../../assets/arrow.svg"
                class="arrow img-fluid"
                alt="up down arrow toggler"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- History Card End -->
    </div>
  </div>

  <!-- Navbar Start -->
  <div class="navbar">
    <ul>
      <li routerLink="/home">
        <div class="icon">
          <img
            src="../../../assets/menu.svg"
            class="img-fluid"
            alt="menu icon"
          />
        </div>
        <div class="name">menu</div>
      </li>
      <li routerLink="/home/orders">
        <div class="icon">
          <img
            src="../../../assets/order.svg"
            class="img-fluid"
            alt="orders icon"
          />
        </div>
        <div class="name">orders</div>
      </li>
      <li routerLink="/home/account">
        <div class="icon">
          <img
            src="../../../assets/account.svg"
            class="img-fluid"
            alt="account icon"
          />
        </div>
        <div class="name">account</div>
      </li>
      <li routerLink="/home/history">
        <div class="icon">
          <img
            src="../../../assets/history.svg"
            class="img-fluid"
            alt="history icon"
          />
        </div>
        <div class="name">history</div>
      </li>
    </ul>
  </div>
  <!-- Navbar Start End -->
</ion-content>
