<ion-content>
  <div id="login">
    <div class="container">
      <div class="row">
        <div class="col-5 mx-auto">
          <div class="down-banner">
            <img
              src="../../assets//logo.svg"
              class="img-fluid down-banner-logo"
              alt="restaurant logo"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10 mx-auto">
          <form>
            <div class="mb-2">
              <label for="InputName" class="form-label">name</label>
              <input
                type="text"
                class="form-control"
                id="InputName"
                placeholder="Enter your name"
              />
            </div>
            <div class="mb-2">
              <label for="InputNumber" class="form-label">phone number</label>
              <input
                type="tel"
                class="form-control"
                id="InputNumber"
                placeholder="Enter your number"
              />
            </div>
            <div class="mb-2">
              <label for="InputName" class="form-label">city</label>
              <input
                type="text"
                class="form-control"
                id="InputName"
                placeholder="Enter your city"
              />
            </div>
            <div class="mb-2">
              <label for="InputName" class="form-label">restaurant name</label>
              <input
                type="text"
                class="form-control"
                id="InputName"
                placeholder="Enter restaurent name"
              />
            </div>
            <div
              class="
                my-4
                form-check
                d-flex
                justify-content-center
                align-items-center
              "
            >
              <input type="radio" class="form-check-input" id="inputCheck" />
              <label class="form-check-label" for="inputCheck"
                >I accept all <span>Terms & Conditions</span></label
              >
            </div>
            <div class="d-flex">
              <button
                type="submit"
                class="btn sign-up-btn mx-auto"
                routerLink="/login"
              >
                sign up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
